@using EntityLayer.Concrete
@model List<Message>

@{
    ViewBag.Title = "Sendbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 3 | Mailbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/DictionaryTheme/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="~/DictionaryTheme/AdminLTE-3.0.4/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/DictionaryTheme/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link href="~/DictionaryTheme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/DictionaryTheme/assets/css/light-bootstrap-dashboard.css?v=2.0.0 " rel="stylesheet" />
    <link href="~/DictionaryTheme/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="row">

            @Html.Action("MessageListMenu", "Contact")

            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title" style="font-family:Arial;font-size:16px;font-weight:bold">Gönderilen Mesajlar</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="Mail kutusunda ara">
                                <div class="input-group-append">
                                    <div class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="mailbox-controls">
                            <br />
                        </div>
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var item in Model)
                                    {


                                    <tr>
                                        <td>
                                            <a href="/Message/SendboxMessageDetails/@item.MessageID"
                                               style="font-family: Arial; font-size: 16px; font-weight: bold; color:blueviolet">@item.ReceiverMail</a>
                                        </td>
                                        <td class="mailbox-messages">
                                            <b style="margin-left:0px">@item.Subject :</b> @item.MessageContent.Substring(0, 10) ...
                                        </td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date"><a style="font-weight:bold">Gönderilme Tarihi : </a> <b style="margin-left:5px; font-weight:400">@item.MessageDate.ToShortDateString()</b> </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card-footer p-0">
                        <div class="mailbox-controls">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/DictionaryTheme/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="~/DictionaryTheme/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/DictionaryTheme/AdminLTE-3.0.4/dist/js/adminlte.min.js"></script>
    <script src="~/DictionaryTheme/assets/js/core/bootstrap.min.js"></script>
    <script src="~/DictionaryTheme/assets/js/core/jquery.3.2.1.min.js"></script>
    <script>
        $(function () {
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })

            $('.mailbox-star').click(function (e) {
                e.preventDefault()
                var $this = $(this).find('a > i')
                var glyph = $this.hasClass('glyphicon')
                var fa = $this.hasClass('fa')

                if (glyph) {
                    $this.toggleClass('glyphicon-star')
                    $this.toggleClass('glyphicon-star-empty')
                }

                if (fa) {
                    $this.toggleClass('fa-star')
                    $this.toggleClass('fa-star-o')
                }
            })
        })
    </script>
    <script src="~/DictionaryTheme/AdminLTE-3.0.4/dist/js/demo.js"></script>
</body>
</html>

